# Arquivos de ambiente
.env

# Cache do Python
__pycache__/
*.py[cod]

# Dados temporários
*.log
*.tmp

# Virtual env
venv/
.env/

# Arquivos de Streamlit (opcional)
.streamlit/secrets.toml

# Outros
.DS_Store
